<%- include("./partials/header-forum") %>
  <main>
    <ul id="categories">
      <% categorias.forEach(function(categoria) { %>
        <li>
          <a href="yep">
            <%= categoria.Cat_nome %>
          </a>
          <p>
            <%= categoria.Cat_desc %>
          </p>
        </li>
        <% }) %>
    </ul>
  </main>
  <%- include("./partials/footer") %>