<%- include("./partials/header-forum") %>
<main>
    <ul id="categories">
    </ul>
<nav>
    <ul class="menu">
        <li><a id="menuPerson" href="javascript: info.showCategories();">Person</a></li>
    </ul>
</nav>
</main>
<%- include("./partials/footer") %>
