<%- include("./partials/header-main") %>
<main id="userForms">
    <div id="loginBox">
        <label>LOGIN TO ACCOUNT</label>
        <form action="#" method="get" id="loginForm" name="loginForm">
            <fieldset>
                <input type="text" name="txtUsername" id="txtUsername" class="form_item" size="30" placeholder="Username"/>
                <input type="text" name="txtPassword" id="txtPassword" class="form_item" size="30" placeholder="Password"/>
                <div>
                    <input type="checkbox" name="rememberLogin" id="rememberLogin" class="form_item" value="remember" /> Remember me
                </div>
                <input type="submit" id="btnLogin" class="form_item" name="btnLogin" value="Login"/>
            </fieldset>
        </form>
    </div>
    <div id="registerBox">
        <label>REGISTER ACCOUNT</label>
        <form action="#" method="post" id="registerForm" name="registerForm">
            <fieldset>
                <input type="text" name="txtUsername" id="txtUsername" class="form_item" size="30" placeholder="Username"/>
                <input type="text" name="txtEmail" id="txtEmail" size="30" class="form_item" placeholder="Email"/>
                <input type="text" name="txtPassword" id="txtPassword" class="form_item" size="30" placeholder="Password"/>
                <input type="text" name="txtConfirmPassword" id="txtConfirmPassword" class="form_item" size="30" placeholder="Confirm Password"/>
                <input type="submit" id="btnRegister" name="btnRegister" class="form_item" value="Register"/>
            </fieldset>
        </form>
    </div>
</main>
</body>