<%- include("./partials/header-forum") %>
    <form method="post" action="/posts/<%= game %>">
        <fieldset>
            <legend>
                <h2>Escreva um novo comentário</h2>
            </legend>
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="comment-title" name="comment-title"
                    placeholder="Escreva um título" required>
            </div>
            <div class="form-group">
                <label for="body">Texto do comentário</label>
                <textarea class="form-control" id="comment-body" name="comment-body"
                    placeholder="Escreva o seu comentario" maxlength="4000" required></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Postar comentário" class="btnPostar">
            </div>
        </fieldset>
    </form>
<%- include("./partials/footer") %>