<%- include("./partials/header-main") %>
<main>
    <figure>
        <img src="https://via.placeholder.com/850x550" alt="Imagem do jogo" id="game_image">
        <figcaption>NomeJogo</figcaption>
    </figure>
    <section id="main_content">
        <p class="content_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fermentum lorem tortor, nec venenatis arcu rhoncus sed. Integer justo est, malesuada eu dolor eu, elementum cursus ex. Donec mattis, est non aliquet pharetra, nisl tellus rutrum
            nibh, ut scelerisque sapien elit id eros. Fusce leo sapien, porta sed facilisis vel, hendrerit sed sapien. Aliquam erat volutpat. Mauris eget diam quis lorem lobortis maximus non nec est. Pellentesque mauris purus, egestas luctus aliquam
            ac, finibus at nulla. Maecenas vestibulum metus a metus vulputate venenatis.
        </p>
        <p class="content_paragraph">Nam vel feugiat dui. Fusce auctor semper tortor, ut sodales augue. Aenean id urna vel augue finibus ornare. In porta nunc et augue malesuada, congue congue diam suscipit. Pellentesque sit amet convallis tortor. Suspendisse porttitor eleifend
            nunc, sed tristique mi auctor non. Nam rhoncus at sem ac consectetur. Cras ornare ultrices volutpat. Donec sollicitudin semper leo. Nulla sagittis mollis tortor quis dignissim. Aenean ultrices, magna a molestie consectetur, velit dui pulvinar
            odio, at facilisis mauris lacus a nunc. Donec cursus pretium neque. Integer ante dolor, dignissim vel mauris eu, venenatis dapibus urna. Curabitur ultricies dictum nisl pellentesque pellentesque. Donec sed neque non nisi dictum viverra.
            Ut hendrerit fermentum neque, et pulvinar mi rhoncus et.
        </p>
        <p class="content_paragraph">Morbi condimentum venenatis felis sed convallis. Aliquam volutpat id ex eu varius. Nullam et orci non arcu condimentum interdum at quis neque. Suspendisse potenti. Proin vel est mattis, sagittis eros id, lacinia lorem. Duis tristique vitae
            nibh at consequat. Donec eu malesuada urna. Phasellus non mi fringilla, vestibulum ipsum mattis, molestie sem. Fusce eu elit a ante maximus finibus. Vivamus eget porta velit. Phasellus vel ex consectetur, sollicitudin tortor eu, finibus
            ante.
        </p>
        <p class="content_paragraph">Sed imperdiet quam tellus, elementum imperdiet nulla euismod vel. Proin eget purus molestie, porta velit vel, porttitor est. Nullam vehicula augue leo. Etiam quis ornare magna. Cras pretium velit ex. Etiam venenatis non ligula nec luctus.
            Maecenas sed diam est. Duis non massa dictum, dictum est ac, eleifend lectus. Donec ultricies quis eros vulputate pharetra. Suspendisse iaculis tellus odio, sit amet facilisis tortor lacinia eget. Maecenas sit amet sollicitudin felis,
            a aliquam quam. Ut malesuada mattis urna, vel placerat dui porttitor eu. Praesent et odio facilisis, eleifend eros ac, accumsan est.
        </p>
    </section>
</main>
<%- include("./partials/footer") %>
