<footer>
    <img src="https://via.placeholder.com/150x50" alt="LogoTipo" class="logo">
    <ul id="footerPages">
        <li><a href="/">News</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/forum-categories">Forum</a></li>
        <li><a href="/login">Login/Register</a></li>
    </ul>
</footer>
</body>
</html>