<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/whiteModeForum.css">
    <title>IberGames - Forum</title>
</head>
<body>
    <header>
        <div id="logo_and_buttons">
            <img src="https://via.placeholder.com/150x50" alt="LogoTipo" class="logo">
            <div id="formAut">
                <form action="/search" method="get">
                    <input type="text" name="search" id="search" placeholder="Search...">
                </form>
                <img src="../images/themeIcon.JPG" id="themeButton">
                <a href="/login" id="loginButton"><img src="../images/userIcon.JPG"></a>
                <% if (typeof user != 'undefined'){ %>
                    <form action="/logout" method="post">
                        <button class="logout" type="submit">Sign out</button>
                    </form>
                <% } %>
            </div>
        </div>
        <ul id="navigationPages">
            <% if (typeof user != 'undefined'){ %>
                <li><a href="/gestao-posts">Gestão Posts</a></li>
                <% if (user.Regist_gestor === 0){ %>
                    <li><a href="/gestao-categorias">Gestão Categorias</a></li>
                <% } %>
            <% } %>
        </ul>
    </header>