/****************************
*  Pagina inicial do Site   *
*****************************/
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid black;
  }
  
  #navigationPages{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  
  #navigationPages li {
    padding: 0 1em;
  }
  
  #navigationPages li:first-child{
    border-right: 1px solid;
  }
  
  #navigationPages li:last-child{
    border-left: 1px solid;
  }
  
  #formAut{
    display: flex;
    align-items: center;
  }
  
  #userButtons{
    display: flex;
    align-items: center;
  }
  
  #loginButton img{
    vertical-align: bottom;
  }
  
  #homeButton img{
    vertical-align: bottom;
  }
  
  body{
    background-color: #ebebeb;
  }
  
  .news {
    display: grid;
    padding: 2em 0em;
    grid-template-areas: 
    'image title'
    'image body';
    grid-template-columns: auto 1fr;
    column-gap: 2em;
    max-width: 60%;
    margin: 0 auto;
  }
  
  .news_title{
    grid-area: title;
    margin: 0px;
    align-self: flex-start;
  }
  
  .news_body{
    grid-area: body;
    margin: 0px;
    align-self: flex-start;
  }
  
  .news_image{
    grid-area: image;
  }
  
  .news_dividing_bar{
    max-width: 40%;
    position: relative;
    left: 20%;
    border: 2px solid black;
  }
  
  footer{
    display: flex;
    padding: 3em 2em 5em 2em;
    margin: 3em 0px 2em 0px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  
  #footerPages{
    display: flex;
    flex:1;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0px;
  }
  
  a{
    text-decoration: none;
  }
  
  ul{
    list-style: none;
  }


/****************************
*    Pagina news do Site    *
*****************************/
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid black;
}

#navigationPages {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#navigationPages li {
    padding: 0 1em;
}

#navigationPages li:first-child {
    border-right: 1px solid;
}

#navigationPages li:last-child {
    border-left: 1px solid;
}

#formAut {
    display: flex;
    align-items: center;
}

#userButtons {
    display: flex;
    align-items: center;
}

#loginButton img {
    vertical-align: bottom;
}

#homeButton img {
    vertical-align: bottom;
}

body {
    background-color: #ebebeb;
}

#game_image{
    width:850px;
    height: 550px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
}

figcaption{
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
}

#main_content{
    padding-top: 20px;
    padding-bottom: 50px;
}

.content_paragraph{
    width:40%;
    margin: 0 auto;
    padding: 10px 0;
}

footer {
    display: flex;
    padding: 3em 2em 5em 2em;
    margin: 3em 0px 2em 0px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#footerPages {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/****************************
*   Pagina reviews do Site  *
*****************************/
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid black;
}

#navigationPages {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#navigationPages li {
    padding: 0 1em;
}

#navigationPages li:first-child {
    border-right: 1px solid;
}

#navigationPages li:last-child {
    border-left: 1px solid;
}

#formAut {
    display: flex;
    align-items: center;
}

#userButtons {
    display: flex;
    align-items: center;
}

#loginButton img {
    vertical-align: bottom;
}

#homeButton img {
    vertical-align: bottom;
}

body {
    background-color: #ebebeb;
}

#game_image{
    width:850px;
    height: 550px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
}

figcaption{
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
}

#main_content{
    padding-top: 20px;
    padding-bottom: 50px;
}

.content_paragraph{
    width:40%;
    margin: 0 auto;
    padding: 10px 0;
}

footer {
    display: flex;
    padding: 3em 2em 5em 2em;
    margin: 3em 0px 2em 0px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#footerPages {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/****************************
*   Pagina login do Site    *
*****************************/
header{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    border-bottom: 2px solid black;
  }
  
  #navigationPages{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  
  #navigationPages li {
    padding: 0 1em;
  }
  
  #navigationPages li:first-child{
    border-right: 1px solid;
  }
  
  #navigationPages li:last-child{
    border-left: 1px solid;
  }
  
  #userButtons{
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  
  #homeButton img{
    margin-left: 20px;
    vertical-align: bottom;
  }
  
  body{
    background-color: #ebebeb;
  }
  
  #userForms{
    display: flex;
    justify-content: space-evenly;
  }
  
  #loginForm fieldset{
    display: flex;
    flex-flow: column;
  }
  
  #registerForm fieldset{
    display: flex;
    flex-flow: column;
  }
  
  .form_item{
    margin: 5px 0px;
  }
  
  #btnRegister, #btnLogin{
    margin-top: 30px;
  }
  
  a{
    text-decoration: none;
  }
  
  ul{
    list-style: none;
  }